#
# Copyright (c) 2013-2019 Vinnie Falco (vinnie dot falco at gmail dot com)
#
# Distributed under the Boost Software License, Version 1.0. (See accompanying
# file LICENSE_1_0.txt or copy at http://www.boost.org/LICENSE_1_0.txt)
#
# Official repository: https://github.com/boostorg/beast
#

language: generic # cpp overwrites CC and CXX

addons:
  apt:
    sources: &base_sources
      - ubuntu-toolchain-r-test

matrix:
  include:
    - name: "GCC default + coverage"
      os: linux
      dist: xenial
      addons:
        apt:
          packages:
            - lcov
      env:
        - BEAST_LOUNGE_COVERAGE=1
        - BEAST_LOUNGE_BUILD_TYPE=Debug
        - CXX=g++
        - CC=gcc
      after_success:
        - tools/coverage.sh && curl -s https://codecov.io/bash -o codecov && bash ./codecov -X gcov -f build/coverage.info -t $CODECOV_TOKEN

    - name: "GCC-7 Debug asan,ubsan"
      os: linux
      dist: xenial
      addons:
        apt:
          packages:
            - g++-7
          sources:
            - *base_sources
      env:
        - BEAST_LOUNGE_BUILD_TYPE=Debug
        - BEAST_LOUNGE_SANITIZE=address,undefined
        - UBSAN_OPTIONS=print_stacktrace=1
        - CXX=g++-7
        - CC=gcc-7

    - name: "GCC-8 Release asan,ubsan"
      os: linux
      dist: xenial
      addons:
        apt:
          packages:
            - g++-8
          sources:
            - *base_sources
      env:
        - BEAST_LOUNGE_BUILD_TYPE=Release
        - BEAST_LOUNGE_SANITIZE=address,undefined
        - UBSAN_OPTIONS=print_stacktrace=1
        - CXX=g++-8
        - CC=gcc-8

    - name: "clang Release asan,ubsan"
      dist: xenial
      env:
        - BEAST_LOUNGE_BUILD_TYPE=Release
        - BEAST_LOUNGE_SANITIZE=address,undefined
        - UBSAN_OPTIONS=print_stacktrace=1
        - CXX=clang++
        - CC=clang++

install:
  - cd ..
  - $TRAVIS_BUILD_DIR/tools/get-boost.sh $TRAVIS_BRANCH $TRAVIS_BUILD_DIR
  - cd $TRAVIS_BUILD_DIR

script:
  - cmake -DCMAKE_TOOLCHAIN_FILE=tools/ci_toolchain.cmake -H. -Bbuild
  - make -C build all -j2
  - make -C build test ARGS="-V"

notifications:
  email:
    on_success: never
