html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

/* Animation */
@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Navigation */
.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    background: #333;
    box-shadow: 3px 3px 3px 4px rgba(0, 0, 0, 0.4);
    font-size: 1.25em;
}

.nav-title {
    color: #cc0000;
}

.nav-logo {
    width: 4em;
    height: 4em;
}

.nav-link {
    text-decoration: none;
    cursor: pointer;
    color: white;
}

.nav-link:hover {
    background-color: #cc0000;
}

/* Content */
.content {
    flex: 1;
    margin: 1em 1em 1em 1em;
}

/* CSS target pages */
.target-sub-page {
    animation: fade-in 1s;
    display: none;
}

.target-sub-page.default {
    display: flex;
}

.target-sub-page:target {
    display: flex;
}

.target-sub-page:target ~ .default {
    display: none;
}

/* Tables */
.c-table {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
}

.c-table__head {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #74748c;
}

.c-table__body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.c-table__row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

.c-table__body .c-table__row:nth-of-type(2n+1) {
    background-color: #fbfbfb;
}

.c-table__cell {
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 1;
    flex: 1;
    padding: .5em;
    overflow: auto;
    text-align: left;
}

div {
    width: 100%;
    height: 100%;
}
